<div class="row">
  <aside class="col-sm-4">
    <h2>Side Menu</h2>
    <!-- <ul class="nav nav-pills nav-stacked stack-drops">
      <li class=" nav-first nav-home nav-item-1">
        <a class=" nav-first nav-home nav-item-1 " target="_self" href="/">Home</a>
      </li>
    </ul> -->
  </aside>
  <section class="col-sm-8">
    <h1>Recent Jobs</h1>
    <%= render @jobs %>
  </section>
</div>
