<div class="row">
  <section class="col-sm-12">
    <h1>Companies</h1>
    <!-- <%= render partial: "company", collection: @companies, locals: {css: 'col-sm-4'} %> -->
    <%= render @companies %>
  </section>
</div>
