<div class="row">
  <section class="col-sm-12">
    <h1>Companies</h1>
    <% if !@companies.empty? %>
        <%= render @companies %>
    <% else %>
        <%= controller_empty('companies') %>
    <% end %>
  </section>
</div>
