<div class="row">
  <aside class="col-sm-4">
    <h2>Company</h2>
    <!-- <%= render @company, locals: {css: 'col-sm-12'} %> -->
    <%= render @company %>
  </aside>
  <section class="col-sm-8">
    <h1>Jobs</h1>
    <%= render @company.jobs %>
  </section>
</div>
