<div class="row">
  <section class="col-sm-12">
    <h1>Categories</h1>
    <% if !@categories.empty? %>
        <%= render @categories %>
    <% else %>
        <%= controller_empty('categories') %>
    <% end %>
  </section>
</div>
