<div class="row">
  <aside class="col-sm-4">
    <h2>Category</h2>
    <!-- <%= render @category, locals: {css: 'col-sm-12'} %> -->
    <%= render @category %>
  </aside>
  <section class="col-sm-8">
    <h1>Jobs</h1>
    <%= render @category.jobs %>
  </section>
</div>
